<app-nav></app-nav>
@defer(on viewport){
    <main [style.backgroundImage]= "'url(' + backgroundImage().url + ')'" [style.content]="'backgroundImage().alt'">
        <div class="cards">
            @for (quarto of Quartos; track quarto) {
                <button class="card" (click)="OpenDialog()">
                    <div class="img">
                        <img [src] ="quarto.url"/>
                    </div>
                    <section>
                        <p>{{ quarto.titulo }}</p>
                    </section>    
                </button>
            }
        </div>
    </main>
}@placeholder {
    <section>
        <h2>Carregando</h2>
    </section>
}@error{
    <section>
        <h2>Erro ao carregar, por favor, recarregue a pagina</h2>
    </section>
}
