
@defer (on viewport){
    <app-nav></app-nav>
    @for (item of ArrayBackgroundImages(); track item) {
        <main [style.backgroundImage]= "'url(' + item.url + ')'" [style.content]="'item.alt'">
            <div class="dialog">
                <div class="Welcome">
                    <h1>{{ item.h1 }}</h1>
                    <h3> {{ item.h2 }}</h3>
                </div>
            </div>
        </main>
    }
}@placeholder {
    <section>
        <h2>Carregando</h2>
    </section>
}@error{
    <section>
        <h2>Erro ao carregar, por favor, recarregue a pagina</h2>
    </section>
}

