nav{
    width: 100vw;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--white);
    z-index: 1000; 
    color: var(--black);

    .buttons{
        width: 70%;
        ul{
            display: flex;
            gap: 10%; 
            li{
                width: 15%;
                height: 50px;
                justify-content: center;
                align-items: center;
                display: flex;
                cursor: pointer;
            }
        }
    }
    button{
        margin-left: auto;
        width: 5rem;
        height:50px;
        border-style: none;
        margin-right: 5px;
        background-color: var(--orange);
        font-size: 16px;
        font-style: bold;
        border-radius: 7px;
    }
}

@media(max-width: 750px){
    .buttons{
        width: 90%;
        ul{
            li{
                font-size: 11px;
            }
        }
    }
}

