nav{
    width: 100vw;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: transparent;
    z-index: 1000; 
    .buttons{
        width: 70%;
        ul{
            display: flex;
            gap: 10%; 
            li{
                width: 15%;
                height: 50px;
                justify-content: center;
                align-items: center;
                display: flex;
                cursor: pointer;
                a{
                    text-decoration: none;
                    color: var(--luz);
                }           
            }
        }
    }
    button{
        margin-left: auto;
        width: 9rem;
        height: 40px;
        border-style: none;
        margin-right: 20px;
        background-color: var(--principal);
        color: (--sombra);
        font-size: 16px;
        font-style: bold;
        cursor: pointer;
        border-radius: 30px;
    }

}

@media(max-width: 750px){
    .buttons{
        width: 50%;
        ul{
            li{
                font-size: 11px;
            }
        }
    }
}

