@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
:root{
    --principal: #ffcf5e;
    --secundaria: #d8e59b;
    --sombra: #212121;
    --luz: #EEEEEE;
}

body{
    margin: 0;
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
}

