.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: (4, 1fr);
}

.carrosel-wrap {
    width: 100%;
    display: flex;
}

.title{
    position: absolute;
    animation-duration: 3s;
    animation-name: slidein;
    color: var(--white);
    margin-top: 100px;
    margin-left: 70px;
    font-size: 22px;
}


img {
    grid-column: 1;
    grid-row: 2;
    width: 33.3333%;
    height: 100vh;
    box-sizing: border-box;
    object-fit: cover; /* Redimensiona a imagem para cobrir completamente a div */
    object-position: center center; /* Centraliza a imagem */
}