main{
    background-image: url("../../../../assets/Img/HomePage.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1; /* Certifique-se de que a imagem fique abaixo do menu */
}