main{
    background-image: url("../../../../assets/Img/HomePage.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1; /* Certifique-se de que a imagem fique abaixo do menu */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.dialog{
    margin-top: 100px;
    margin-left:15px;
    width: 100%;
    height: 280px;
    grid-column: 1;
    grid-row: 1; 
    // background-color: #f0f0f0; 
    color:#f0f0f0;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 3s;
    animation-name: slidein;

      
      @keyframes slidein {
        from {
          margin-left: 40%;
          width: 100%;
        }

        to {
          margin-left: 15px;
          width: 100%;
        }
      }
}