<app-nav></app-nav>

@defer(on viewport){
    <main [style.backgroundImage]= "'url(' + ArrayBackgroundImages().url + ')'" [style.content]="'ArrayBackgroundImages().alt'">
        <div class="dialog">
            <div class="Welcome">
                <h1> {{ ArrayBackgroundImages().h1 }}</h1>
                <h2> {{ ArrayBackgroundImages().h2 }}</h2>
            </div>
        </div>
    </main>
}@placeholder {
    <section>
        <h2>Carregando</h2>
    </section>
}@error{
    <section>
        <h2>Erro ao carregar, por favor, recarregue a pagina</h2>
    </section>
}
